<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <title th:text="${seclist[0].strId}"></title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="container">
    <div id="header">
        <h1 th:text="${seclist[0].strId}"></h1>
    </div>
    <div id="wrapper">
        <div id="content">

            <p>
            <div id="account" th:classappend="${isReg} ? 'exists' : 'notExists'"><p th:text="${currAccountBalance}"></p></div>

                <div class="table" id="table_id">
                    <div class="table-header">
                        <div class="header__item"><img th:src="@{../} + ${secImg}" alt="Картинку не завезли"/></div>
                        <div class="header__item" ><p th:style="${numGrow} ? 'color: green;font-size: 2em;' : 'color: red;font-size: 2em;'" th:text="${secGrow}"></p></div>
                    </div>
                    <div class="table-content" id="table-cont-id">

                        <div class="table-row">
                            <div class="table-data">
                                <form th:action="@{/buy/} + ${seclist[0].strId}" method="post">
                                    <button name="buy">Buy</button>
                                </form>
                            </div>
                        </div>

                        <div class="table-row" th:each="sec:${seclist}">
                            <div class="table-data" th:text="${sec.id}" th:classappend="${isAdmin} ? 'exists' : 'notExists'"></div>
                            <div class="table-data" th:text="${sec.supId}" th:classappend="${isAdmin} ? 'exists' : 'notExists'"></div>
                            <div class="table-data" th:text="${sec.strId}"></div>
                            <div class="table-data" th:text="${sec.price}"></div>
                            <div class="table-data" th:text="${sec.datetime}"></div>
                        </div>

                    </div>
                </div>
            </p>
        </div>

    </div>
    <div id="footer">
        <p><a href="../">Список инвестиционных инструментов</a></p>

        <p><a href="../auth">Авторизация</a></p>

        <p><a href="../users" th:classappend="${isAdmin} ? 'exists' : 'notExists'">Пользователи</a></p>
    </div>
</div>
</body>
</html>
